.box1{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box2{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box3{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box4{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box5{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box6{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box7{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box8{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

.box9{
    height: 50px;
    width: 50px;
    background-color:lightpink;
}

