table{
    border-spacing: 0px;
    border-style: hidden;
}

.col1{
    height:50px;
    width:50px;
    border-style: solid;
}
.col2{
    height:50px;
    width:50px;
    border-style: solid;
}
.col3{
    height:50px;
    width:50px;
    border-style: solid;
}
.col4{
    height:50px;
    width:50px;
    border-style: solid;
}
.col5{
    height:50px;
    width:50px;
    border-style: solid;
}
.col6{
    height:50px;
    width:50px;
    border-style: solid;
}
.col7{
    height:50px;
    width:50px;
    border-style: solid;
}
.col8{
    height:50px;
    width:50px;
    border-style: solid;
}
.col9{
    height:50px;
    width:50px;
    border-style: solid;
}
